<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TB"
        tools:targetApi="31">
        <activity
            android:name=".rolet"
            android:exported="false" />

        <activity
            android:name=".selamat"
            android:exported="false" />

        <activity
            android:name=".redeem1"
            android:exported="false" />

        <activity
            android:name=".activity_redeem2"
            android:exported="false" />

        <activity
            android:name=".scan_tutup_botol4"
            android:exported="false" />

        <activity
            android:name=".scan_tutup_botol3"
            android:exported="false" />

        <activity
            android:name=".scan_tutup_botol2"
            android:exported="false" />

        <activity
            android:name=".scan_tutup_botol"
            android:exported="false" />

        <activity
            android:name=".HomePage"
            android:exported="false" />

        <activity
            android:name=".layer4"
            android:exported="false" />

        <activity
            android:name=".layer3"
            android:exported="false" />

        <activity
            android:name=".layer2"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>